[project]
	description = "python code with  python-jenkins library for parsing failed jobs,getting testResult/consoleOutput,and writing into csv"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/naumvd95
[access "refs/for/refs/*"]
	read = group user/naumvd95
	push = group user/naumvd95
	label-Code-Review = -2..+2 group user/naumvd95
	label-Verified = -1..+1 group user/naumvd95
	rebase = group user/naumvd95
	removeReviewer = group user/naumvd95
	submit = group user/naumvd95
[access "refs/heads/*"]
	read = group user/naumvd95
	create = group user/naumvd95
	push = +force group user/naumvd95
	pushMerge = group user/naumvd95
[access "refs/tags/*"]
	push = group user/naumvd95
	push = +force group user/naumvd95
